# Recomendation system using predictive modelling

- leverage the patterns in your existing data to make predictions or suggestions for new or existing entities.

- Content-based Filtering appraoch to recommendation system building

- a supervised learning approach can be used as a form of content-based filtering, where features of the business (like transaction volume, business duration, etc.) are used to predict certain outcomes or to group similar businesses.

## Data Preparation
target variable is perfomance_index

In [1]:
import pandas as pd

encoded_data = pd.read_csv('encoded_data.csv')
encoded_data.head(2)

,Customer Name,uid,business start date,business duration (years),Normalized Performance Index,business sector_Agriculture,business sector_Fisheries,business sector_Hospitality,business sector_IT,business sector_Manufacturing,...,education level_Vocational,duration range_0 - 5 years,duration range_5 - 10 years,duration range_10 - 15 years,duration range_15 - 20 years,transaction range_0 - 2000,transaction range_2000 - 4000,transaction range_4000 - 6000,transaction range_6000 - 8000,transaction range_8000 - 11000
0,Alice Sarah,9412e6f7-44a7-4268-8499-018a7bf9951a,2020-03-10,3.61,0.569356,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,William Namwalwa,afb7267f-ae22-4c74-a206-c3f274548e74,2014-04-08,9.54,0.640447,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0

### Drop columns not needed for ML

In [2]:
encoded_data_cleaned = encoded_data.drop(columns = ['Customer Name', 'uid', 'business start date'])
encoded_data_cleaned.head(2)

,business duration (years),Normalized Performance Index,business sector_Agriculture,business sector_Fisheries,business sector_Hospitality,business sector_IT,business sector_Manufacturing,business sector_Retail,business sector_Services,location_Bwindi,...,education level_Vocational,duration range_0 - 5 years,duration range_5 - 10 years,duration range_10 - 15 years,duration range_15 - 20 years,transaction range_0 - 2000,transaction range_2000 - 4000,transaction range_4000 - 6000,transaction range_6000 - 8000,transaction range_8000 - 11000
0,3.61,0.569356,0,0,0,0,0,0,1,1,...,0,1,0,0,0,1,0,0,0,0
1,9.54,0.640447,0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0

In [3]:
encoded_data_cleaned.rename(columns={'Normalized Performance Index': 'performance index'}, inplace=True)
customer_data_ml = encoded_data_cleaned.copy()
customer_data_ml.head()

,business duration (years),performance index,business sector_Agriculture,business sector_Fisheries,business sector_Hospitality,business sector_IT,business sector_Manufacturing,business sector_Retail,business sector_Services,location_Bwindi,...,education level_Vocational,duration range_0 - 5 years,duration range_5 - 10 years,duration range_10 - 15 years,duration range_15 - 20 years,transaction range_0 - 2000,transaction range_2000 - 4000,transaction range_4000 - 6000,transaction range_6000 - 8000,transaction range_8000 - 11000
0,3.61,0.569356,0,0,0,0,0,0,1,1,...,0,1,0,0,0,1,0,0,0,0
1,9.54,0.640447,0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0
2,0.85,0.576399,0,0,0,1,0,0,0,0,...,1,1,0,0,0,1,0,0,0,0
3,18.46,0.514231,0,0,1,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,6.75,0.567989,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0

## Train ML model

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

X = customer_data_ml.drop(columns = ['performance index'], axis=1)
y = customer_data_ml['performance index']

# Splitting data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a Random Forest Regressor
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

## Test the Model

In [5]:
# Predict on the test set
y_pred = model.predict(X_test)

# Calculate and print the mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.0030273914945786523

In [6]:
# Feature importance
feature_importances = model.feature_importances_
features = X.columns
importance_df = pd.DataFrame({'feature': features, 'importance': feature_importances})
importance_df = importance_df.sort_values(by='importance', ascending=False)
print(importance_df)

                           feature  importance
0        business duration (years)    0.397337
28      transaction range_0 - 2000    0.132093
29   transaction range_2000 - 4000    0.111070
6           business sector_Retail    0.023876
23      education level_Vocational    0.022383
5    business sector_Manufacturing    0.020980
13                location_Kampala    0.020848
17                location_Mbarara    0.019469
4               business sector_IT    0.017378
15                   location_Lira    0.016773
20         education level_Primary    0.016129
2        business sector_Fisheries    0.016022
21       education level_Secondary    0.015925
19                     gender_Male    0.014522
3      business sector_Hospitality    0.014501
7         business sector_Services    0.014370
14                 location_Kisoro    0.014335
22      education level_University    0.014148
18                   gender_Female    0.013378
8                  location_Bwindi    0.012958
10            location_Fort Portal    0.011753
11                   location_Gulu    0.010877
9                 location_Entebbe    0.010745
16                  location_Mbale    0.009893
1      business sector_Agriculture    0.008607
12                  location_Jinja    0.007302
26    duration range_10 - 15 years    0.004491
25     duration range_5 - 10 years    0.003463
24      duration range_0 - 5 years    0.002270
27    duration range_15 - 20 years    0.002104
30   transaction range_4000 - 6000    0.000000
31   transaction range_6000 - 8000    0.000000
32  transaction range_8000 - 11000    0.000000

## Predicting PI for a new business

In [7]:
# For a new business, predicting performance index
# new_business_data should be a DataFrame with the same columns as X, but just one row of data for the new business
# new_business_data = pd.DataFrame([...])  # Fill in your new business data here
# predicted_performance = model.predict(new_business_data)
# print(f"Predicted Performance Index: {predicted_performance[0]}")

# Based on feature importance, you can provide tailored recommendations.
# For example, if 'transaction volume' is the top feature, and the new business's volume is low:
# print("We recommend actions to increase your transaction volume.")